.idea
pkg/swagger
rewinder/app/src/main/java/io
client/src/swagger
client/.DS_Store
client/node_modules
client/dist
client/.env.local
client/.env.*.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/.idea
client/.vscode
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?
rewinder/*.iml
rewinder/.gradle/
rewinder/local.properties
rewinder/.idea/caches
rewinder/.idea/libraries
rewinder/.idea/modules.xml
rewinder/.idea/workspace.xml
rewinder/.idea/navEditor.xml
rewinder/.idea/assetWizardSettings.xml
rewinder/.DS_Store
rewinder/build
rewinder/captures
rewinder/.externalNativeBuild
rewinder/.cxx
